.menu-sidebar {
    width: 230px!important;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    overflow-y: auto;
}
.container-fluid {
    padding-right: 0px!important; 
    padding-left: 0px!important; 
}
.table td {
    padding: .2rem!important;
    vertical-align: middle!important;
}
.table-show td {
    padding: .7rem!important;
    vertical-align: middle!important;
}
.font-bold{
    font-weight: bold!important;
}

.header-mobile .navbar-mobile {
    display: none;
    position: absolute;
    width: 100%;
    top: 58px;
    z-index: 20;
}

.header-desktop {
    background: #007bff;
    color:white!important;
}

.account-item > .content > a {
    color: #f2f2f2;
}
.account-item > .content > a:hover {
    color: #fff!important;
}
.form-control {
    font-size: 0.8rem!important;
}
.configuracion{
    color: rgba(255, 255, 255, 0.6)!important;
    font-size:30px!important;
    font-weight:bold!important;
}
.configuracion2{
    font-size:20px!important;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-wrap .account-item > .content {
        display: inline!important;
    }
}
@media (max-width: 991px){

    .header-desktop {
        position: relative;
        top: 0;
        left: 0;
        height: 50px!important;
    }
    .header-desktop .section__content {
      
        top: 20%!important;
       
    }
    .page-container {
        top: 58px!important;
    }
    .container-fluid {
        padding-right: 20px!important; 
        padding-left: 20px!important; 
    }
}
